body{
    background-color: #8770c2;
}
.App{
    background-color: #2b22a5;
    min-height: 500px;
    width: 400px;
    margin: 40px auto;
}
#todoform input{
    background-color: rgb(56, 116, 21);
    border: 0;
    width: 200px;
    height: 50px;
    padding: 0 20px;
    margin: 20px;
    font-size: 20px;
    border-radius: 10px;
    color: #fff;
}
#todoform input::placeholder{
    color: rgba(255,255,0.5);
}
#todoform input:focus,#todoform button:focus{
    outline: none;
}
#todoform button{
    height: 40px;
    width: 80px;
    border-radius: 5px;
    border: 0;
    background-color: seagreen;
    cursor: pointer;
    font-weight: bolder;
    color: #fff;
}